.student__Body{
    display: grid;
    place-items: center;
    margin: 20px;
}
.chatButton{
    max-width: 120px;
    padding: 10px;
    background-color: #6c63ff!important;
    border-radius: 8px;
}
.enclosing{
    display: flex;
    align-items: center;
    flex-direction: row;
}